<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%title%></title>
</head>
<body>
	li循环实例
	<ul>
		<% for(var i=0; i<lis.length; i++){ %>
		<li><%= lis[i]%></li>
		<%}%>
	</ul>
</body>
</html>