<%- include head %>
<form action="" method="post" class="post_form">
	<p>标题：<input type="text" name="title"></p>
	<div class="artical">正文：<textarea name="post" id="" cols="30" rows="10"></textarea></div>
	<p><input type="submit" value="提交" class="sub_btn"></p>
</form>
<%- include foot %>