<%- include head %>

<form action="" method="post" class="login_form">
	<p><label>用户名：</label><input type="text" name="name"></p>
	<p><label>密码：</label><input type="password" name="password"></p>
	<p><label>确认密码：</label><input type="password" name="password_r"></p>
	<p><label>邮箱：</label><input type="text" name="email"></p>
	<input type="submit" value="登录" class="sub_btn">
</form>

<%- include foot %>